.roles {
  background-clip: text;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: transparent;
  filter: drop-shadow(0 4px 4px rgb(0 0 0 / 25%));
  font-family: var(--font-display);
  font-size: 30px;
  font-weight: 500;
  line-height: var(--line-height-display);
  margin: 0;
  white-space: nowrap;
}
